html, body
{
    font-family: 'Open Sans', sans-serif !important;
    font-size: 15px !important;
    padding: 0 !important;
}
.table-container{
    background: #ffffff;
    border: 2px solid #d1d1d0;
    padding: 20px;
    float: left;
    margin-bottom: 35px;
}
.table-bordered {
    border: 1px solid #d1d1d0 !important;
    font-size: 13px !important;
}
.user-report-pagination {
    float: right;
    margin-top: 15px;
}
.table-bordered thead th {
    padding:17px;
}
.table-bordered td, .table-bordered th {
    text-align: center;
    padding: 9px;
}
.saLeft{
    text-align: left !important;
}
.fade.in {
    opacity: 1 !important;
}
.modal-backdrop.in {
    opacity: .5 !important;
}
/*.modal-backdrop.fade {
    opacity: 0 !important;
}*/
.view-sites{
    color: black !important;
}
.modal-backdrop.show {
    opacity: .5 !important;
}
.modal {
    top: 10% !important;
}
.close{
    opacity: 1;
    right: 15px;
    position: absolute;
    cursor: pointer;
}
.siteTable{
    width: 100%;
    border: 1px solid #dee2e6;
}
.siteTable thead th {
    padding:10px;
    border: 1px solid #dee2e6;
}
.siteTable td, .siteTable th {
    padding: 10px;
    border: 1px solid #dee2e6;
}
.close-span{
    position: relative;
    bottom: 12px;
    left: 7px;
}
.modal-open .modal {
    overflow-y: hidden !important;   

}
.modal-body{
    overflow-y: auto !important;   
    height: 290px !important;   
}
.input-group {
    display: none !important;  
}
aside.left-panel {
    border-right: none !important;  
}
.right-panel header.header{
    padding: 17px 0px 17px 20px !important;  
}
.navbar-expand-md{
    padding-right: 0 !important; 
    padding-top: 0 !important; 
}
.ac-header-links a {
    text-decoration: none;
    outline: none !important;
    color: #878787;
}
.ac-header-links {
    margin-right: 30px !important;
}
.collapse {
    display: block !important;
}
.input_boxes {
    border: 2px solid #d1d1d0;
    padding: 20px 20px 20px 5px;
    margin: 15px auto 25px auto !important;
    float: left;
    width: 100%;
}
.revenue_box input.SA_text {
    width: 100%;
    max-width: 100%;
    border: 2px solid #ccc;
    border-radius: 0;
    height: 33px !important;
    line-height: 1;
    padding: 1px 0 0 10px;
    width: 100%;
    margin-bottom: 0px;
}
.SA_text.date_img {
    background: rgba(0, 0, 0, 0) url(http://www.socialannexstaging.com/public/design16/vcshoppicmoderation/Images/calender.png) no-repeat scroll 15px center;
    padding-left: 45px !important;
}
.SA_Search {
    background: #933960;
    color: #fff;
    margin-left: 15px;
    display: block;
    float: left;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 4px 25px;
    border: none;
}
.ser_ch a {
    color: black;
    float: left;
    text-decoration: underline;
    font-size: 14px;
    margin-top: 10px;
}
.filters{
    float: right;
    margin-top: 12px;
}
.pagination{
    margin-bottom: 0px !important;
}
.ui-datepicker-month{
    padding: 0 !important;
    height: auto !important;
    border-radius: 0 !important;
}
.ui-datepicker-year{
    padding: 0 !important;
    height: auto !important;
    border-radius: 0 !important;
}
.empty-result{
    float: left;
    width: 100%;
    text-align: center;
    border: 2px solid #d1d1d0;
    padding: 9px;
    color: #933960;
}
a:hover 
{
    color:black;
}
#datetimepicker1 .top_name{
    border: 2px solid #ccc;
    height: 33px;
    margin-left: 0px;
    width: 100%;
    padding: 0 0 0 5px;
    border-radius: 0;
}
@media (min-width: 576px){
    .modal-dialog {
        max-width: 625px;
    } 
}
