@charset "utf-8";

@font-face 
{
    font-family: open_sansregular;
    src: url(//www.socialannexstaging.com/public/design19/assets/fonts/opensans-regular_0-webfont.woff2) format('woff2'), url(//www.socialannexstaging.com/public/design19/assets/fonts/opensans-regular_0-webfont.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face
{
    font-family: open_sanssemibold;
    src: url(//www.socialannexstaging.com/public/design19/assets/fonts/opensans-semibold-webfont.woff2) format('woff2'), url(//www.socialannexstaging.com/public/design19/assets/fonts/opensans-semibold-webfont.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}
html, body
{
    font-family: open_sansregular;
}

.sa-prof
{    
    background-color: #f1f1f1;   
    padding: 15px;  
    margin-top: 20px;  
    margin-bottom: 20px;
}
.profile, .Details 
{    
    background-color: #fff;   
    padding: 20px 15px;  
    margin-top: 15px;  
    margin-bottom: 15px;  
    /*box-shadow: 0px 0px 10px 0px;*/
}
.sa-prof h3
{   
    font-size: 18px;  
    color: #3f4047;
}
.prof-head p 
{   
    color: #4f4e4e; 
    font-size: 18px;  
    padding: 10px 20px;
}
.prof-head p span 
{  
    float: right;
}
.profile h4
{	
    text-align: left;
    padding-left: 15px;
}
.profile h4 a 
{   
    color: #4f4e4e; 
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;	
}
.profile h4 span a 
{   
    color: #be2868;  
    text-decoration: none;
}
.ac-btn-color
{
    background-color: #8a2651;
    color: #fff !important;
    border-radius: 3px !important;
    /*padding: .8rem 2rem !important;*/
    font-family: open_sansregular;
}
.sa-close
{
    border-radius: 3px !important;
    /*padding: .8rem 2rem !important;*/
    font-family: open_sansregular;
    background-color: #ddd;
    color: #333 !important;
}
.modal-title
{
    font-family: open_sansregular;
    font-size: 18px;
}
p
{
    font-family: open_sansregular;
}
label
{
    font-family: open_sansregular;
    font-weight: 600;
}
.ac-login-flex-container
{
    height: 100%;
    margin: 0px;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
}
.ac-login-flex-container > .ac-login-inner
{
    flex: 1 1 auto; 
    box-sizing: border-box; 
    flex-direction: row;
    display: flex;
}
.ac-login-inner-first
{
    flex: 1 1 100%; 
    box-sizing: border-box; 
    place-content: center; 
    align-items: center; 
    flex-direction: row;
    display: flex; 
    max-width: 30%;
}
.ac-login-inner-second
{
    flex: 1 1 100%;
    box-sizing: border-box;
    place-content: center;
    align-items: center;
    flex-direction: row; 
    display: flex;
    max-width: 70%;
}

.sa-login
{
    background-color: #fff;
    padding: 30px;
    width: 100%;
    max-width: 560px;
}
.sa-remember>.checkbox-inline
{
    float: left;
    font-size: 14px;
    color: #b7b2c2;
    font-family: open_sansregular;
}
.sa-remember
{
    margin-top: 20px;
}
.sa-remember p
{
    float: right;
    font-size: 12px;
    font-family: open_sansregular;
}
.sa-remember p a
{
    text-decoration: underline;
    color: #b7b2c2;
}
.sa-form
{
    width: 100%;
    max-width: 300px;
    padding: 15% 0px 10px;
}
.sa-form p span a 
{
    color: #fa4696;
    text-decoration: none;
}
.community h3
{
    font-family: open_sansregular;
    font-size: 45px;
    color: #fff;
}
.community p
{
    font-family: open_sansregular;
    font-size: 16px;
    color: #fff;
}


/*Main Header CSS*/

select
{
    height: 38px;
    width: 300px;
    padding: 10px 15px;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    font-size: 12px;
    letter-spacing: 1px;
}
.ac-email
{
    width: 100%;
    max-width: 600px;
}
.sa-top-section
{
    display: block;
    background: #474747;
    width: 100%;
    float: left;
    height: auto;
    padding-top: 10px;
}
.sa-top-section, .sa-top-section img {
    vertical-align: top;
}
.sa-top-section a {
    font-size: 12px;
    display: inline-block;
    margin-right: 15px;
    text-decoration: none;
}
.navbar {
    margin-bottom: 10px!important;
    z-index: 1;

}
.navbar-inverse {
    background-color: #f1f1f1;    
    border-bottom: 1px solid #dfdfdf;
    border-color: transparent!important;
}
.navbar-header
{
    margin-top: 15px;
}
.sa-sel-box
{
    margin-top: 12px;
}
.divider
{
    display: none;
}
.nav>li>a
{
    text-align: center;
    color: #414141 !important;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #414141 !important;
    background-color: transparent;
}
.dropdown-menu
{
    padding: 15px 15px;
}
.dropdown-divider
{
    border: 1px solid #f1f1f1;
}
.dropdown-item
{
    line-height: 35px;
    text-decoration: none;
    color: #414141;
}
.nav>li>a>span
{
    line-height: 38px;
}
.navbar-inverse .navbar-nav>li>a
{
    padding: 15px 20px 0px;
}



div[class*="col-"] {
    float: left;
}
.sa-btn-search
{
    background-color: transparent;
}
.sa-drop > .dropdown-menu
{
    right: 0;
    left: auto;
}
.modal-header .close
{		
    margin-top:-15px !important
}
.sa-new-select
{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control 
{
    background-color: transparent;
    opacity: 1;
    border: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0);
    padding-left: 0px;
}


/*.modal-body 
{	
        padding: 15px 0 5px 15px !important; 
}*/
/*Main Header CSS*/

@media (max-width: 1280px)
{
    
    .navbar-inverse .navbar-nav>li>a
    {
        padding: 15px 15px 15px;
    }
}

@media (max-width: 1024px)
{
    .ac-login-inner-first, .ac-login-inner-second, .one, .two{max-width: 100% !important;}
    .ac-login-flex-container > .ac-login-inner{display: block;}
    .ac-login-inner-second{height: 700px;}
    select{width: 250px;}
}
@media (max-width: 990px)
{
    .profile h4 a{font-size: 11px; line-height: 20px;}
    .sa-prof h3{font-size: 16px;}
    .sa-prof p{font-size: 12px;}
    .profile h4{padding-left: 0px;}
    .collapse.show {display: block; background-color: #f1f1f1; padding: 20px;}
    .sa-login{max-width: 100%;}
    .bg-light{padding: 0px 0px;}
    .bg-light {background-color: #fff!important;}
    .mb-2, .my-2, .mb-2, .my-2>ul{margin: 0 auto;}
    .form-horizontal{  width: 100%;
                       max-width: 100%;}
    .ac-reste-btn{margin: 0 auto;}

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form 
    {
        border-color: #fff;
        margin-top: 30px;
    }
    .navbar-header 
    {
        margin-top: 15px;
        margin-bottom: 30px;
    }
    .divider
    {
        display: block;
        border: 2px solid #fff;
    }

    .nav>li>a
    {
        display: inline-flex;
    }
    .nav>li>a>span
    {
        margin-left: 20px;
        margin-top: 10px;
        line-height: normal;
    }
    .sa-sel-box
    {
        text-align: center;
    }
    .navbar-inverse .navbar-nav>li>a
    {
        padding: 15px 10px 15px;
    }

}
@media (max-width: 767px)
{
    .profile h4 a{font-size: 18px; line-height: 20px;}
    .sa-prof h3{font-size: 18px;}
    .sa-prof p{font-size: 1rem;}

    .navbar-inverse .navbar-nav>li>a
    {
        padding: 15px 20px 15px;
    }
    .dropdown-menu
    {
        background-color: #fff !important;
    }
}
@media (max-width: 479px)
{
    /*    .form-horizontal{width: 100%; max-width: 210px;}*/
}
@media (max-width: 320px)
{
    .ac-btn-color{font-size: 13px;}
    .bg-light{padding: 0px 2px;}
}

#confirmpassword-error, #newpassword-error, #currentpassword-error{
    color: red;
    font-size: 13px;
    margin-top: 6px;
}

/*Criteria section*/
.card {margin-bottom: 1.5rem;position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;min-width: 0;word-wrap: break-word;background-color: #fff;background-clip: border-box;border: 1px solid rgba(0,0,0,.125);border-radius: .25rem;}
.card-header:first-child {border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;}
.card-header {padding: .75rem 1.25rem;margin-bottom: 0;background-color: rgba(0,0,0,.03);border-bottom: 1px solid rgba(0,0,0,.125);}
.card-title {margin-bottom: .75rem;}
.card-body {padding: 15px;}	
.card-text {font-size:12px;line-height: 14px;}	

.ac-green{color:#006400}
.ac-red{color: red}
/*Forgot password section css starts here*/
.reset-pass {
    background-color: #fff;
    padding: 20px 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
}
.forget-success{
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 2rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.forget-error{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 2rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.sa-card-text{
    color:#878787;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 14px;
}
.ac-green {
    color: green !important;
}
.ac-error-alert{
    color: red;
    font-weight: bold;
}
/*Forgot password section css ends here*/
/*login page css starts here*/
.login-error-message{
    text-align: left;
    color: #942b54;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 5px;
}
.sa-cancel{
    border-radius: 3px !important;
    font-family: open_sansregular;
    background-color: #ddd;
}
.login-input{
    background: #dddddd8a !important;
    height: 45px !important;
    border-radius: 0 !important;
    border: none !important;
}
.forgot-pass{
    text-decoration: none !important;
    font-size: 11px !important;
    color: #9b9b9b !important;
    letter-spacing: 0.5px;
    font-weight: 600;
}
.login-button{
    border-radius: 0 !important;
    background: linear-gradient(90deg,rgb(153, 7, 66) 0,rgb(167, 10, 74) 27%,rgb(241, 11, 93) 99%,rgb(198, 30, 116) 100%) !important;
    width: 50% !important;
    border: 1px solid white !important;
    height: 35px !important;

}
/*login page css ends here*/


.profile-img {
    width: 121px;
    height: 123px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}
.ac-expire{
    font-size: 12px;
    color: #000;
    font-weight: 600;
}
.ac-expire span {
    color: #bf3e77;
}
.userPoints{
    font-size: 35px;
}
.select-site-label{
    color: #942b53;
    font-size: 17px;
    padding-bottom: 13px;
}
.select-site-message{
    text-align: left;
    color: #942b54;

}


a.login-screen{	
    display:inline-block;	
    position:absolute;
    bottom:30px;	
    left:85px;
}
a.login-screen img{
    width:100%;
}
@media (max-width: 1366px){	
    a.login-screen {    
        display: inline-block;
        position: absolute; 
        bottom: 0px;    
        left: 67px;	
    }	
    a.login-screen img {
        width: 60%;
    }	
}
@media (max-width: 1280px)
{
    a.login-screen {   
        display: inline-block;    
        position: absolute;    
        bottom: 49px;    
        left: 64px;	
    }	
    a.login-screen img {		
        width: 70%;	
    }
}
@media (max-width: 1024px)
{
    a.login-screen img {    
        width: 75%;
    }
    a.login-screen {    
        display: inline-block;    
        position: absolute;    
        bottom: 0px;    
        left: 67px;
    }
}
@media (max-width: 768px){
    a.login-screen {    
        display: inline-block;
        position: absolute;
        bottom: 80px;
        left: 62px;
    }	
    a.login-screen img {
        width: 65%;	
    }
}	

/*background: linear-gradient(90deg,rgb(153, 7, 66) 0,rgb(167, 10, 74) 27%,rgb(241, 11, 93) 99%,rgb(198, 30, 116) 100%);*/